[bumpversion]
current_version = 0.1.8
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = {current_version}
replace = {new_version}

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:universal_skills/skill_utilities.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
